<h1 class="heading">Users</h1>
@foreach (var group in ViewBag.Groups)
{
    <div class="buttons are-small">
        <p>@group.Name</p>
        <p>
            <a asp-controller="Groups" class="button is-primary" asp-action="Update" asp-route-groupId="@group.Id">Update</a>
            <a asp-controller="Groups" class="button is-danger" asp-action="Remove" asp-route-groupId="@group.Id"
               onclick="return confirm('Continue with deleting @group.Name?')">Delete</a>
        </p>
    </div>
}
<a asp-controller="Groups" asp-action="Add" class="button is-primary">Add Group</a>